*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    line-height:1.6;
    background:#f4f6f9;
    color:#333;
}

/* NAVBAR */
header{
    background:#0d1b2a;
    color:white;
    padding:15px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header h1{
    font-size:22px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-size:15px;
    transition:0.3s;
}

nav a:hover{
    color:#f4a261;
}

/* HERO */
.hero{
    background:linear-gradient(rgba(13,27,42,0.8), rgba(13,27,42,0.8)),
    url("heroimage.jpg.jpeg");
    background-size:cover;
    background-position:center;
    color:white;
    text-align:center;
    padding:100px 20px;
}

.hero h2{
    font-size:40px;
    margin-bottom:20px;
    color: #333;
}

.hero p{
    font-size:18px;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    margin:5px;
    background:#f4a261;
    color:white;
    text-decoration:none;
    border-radius:5px;
    transition:0.3s;
}

.btn:hover{
    background:#e76f51;
}

/* SECTION */
section{
    padding:60px 8%;
}

section h2{
    text-align:center;
    margin-bottom:40px;
    color:white;
}



/* ABOUT */
.about p{
    max-width:800px;
    margin:auto;
    text-align:center;
    color: #222;
}


/* SERVICES */
.services{
    padding:60px 8%;
    background:#f5f6f8;
    text-align:center;
}

.services-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.service-card{
    background:#ffffff;
    padding:30px;
    width:300px;
    border-radius:10px;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
    transition:0.3s;
}

.service-card:hover{
    transform:translateY(-8px);
}

/* PROJECTS */
.projects-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.project-box{
    background:#f5f5f5;
    border-radius:10px;
    overflow:hidden;
    text-align:center;
}

.project-box img{
    width:100%;
    height:220px;
    object-fit:cover;
    display:block;
}
.project-box div{
    padding:15px;
}

/* HIGHLIGHT */
.highlight{
    background:#0d1b2a;
    color:white;
    text-align:center;
    padding:60px 8%;
}

.highlight h3{
    font-size:28px;
    margin-bottom:15px;
}

/* CONTACT */
.contact-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
    gap:30px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

.contact-form button{
    background:#f4a261;
    border:none;
    padding:12px;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

.contact-form button:hover{
    background:#e76f51;
}

/* FOOTER */
footer{
    background:#0d1b2a;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

/* WHATSAPP */
.whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25d366;
    color:white;
    padding:12px 18px;
    border-radius:50px;
    text-decoration:none;
    font-weight:bold;
}

.whatsapp:hover{
    background:#1ebd5a;
}

@media(max-width:768px){
    .hero h2{
        font-size:28px;
    }
}